<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Lezione 2</h2>
            <hr/>
            <app-server-farm></app-server-farm>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Lezione 1</h2>
            <hr/>
            <h3>Il mio alert warning:</h3>
            <app-warning-alert></app-warning-alert>
            <app-warning-alert></app-warning-alert>
            <app-warning-alert></app-warning-alert>
            <app-warning-alert></app-warning-alert>
            <h3>Il mio success warning:</h3>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>